<div class="banner banner-home">
  <h1 class="header">Watchlist.</h1>
</div>

<div class="container">
  <ul class="container-index">
    <% @lists.each do |list| %>
        <li class="list-item" style="background-image: url('<%= cl_image_path list.photo.key %>'); background-size: cover; background-repeat: no-repeat;">
          <%= link_to list.name, list_path(list) %>
        </li>
    <% end %>
  </ul>

  <%# <%= link_to "Create new list", new_list_path, class: "page-link" %>

</div>
