<div class="banner banner-home">
  <h1 class="header">Watchlist.</h1>
</div>

<div class="container">
  <ul class="container-index">
    <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list), class: "list-item" %></li>
    <% end %>
  </ul>

  <%# <%= link_to "Create new list", new_list_path, class: "page-link" %>

</div>
