<div class="banner banner-create">
  <h1 class="header new-header">Create New List</h1>
</div>

<div class="container container-form">

    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Submit", class: "form-button" %>
    <% end %>

</div>
