// Specific CSS for your home-page
.container-index {
  // text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

li {
  list-style: none;
}

.page-list {
  text-decoration: none;
}

.list-item {
  text-decoration: none;
  background-color: rgba(255, 255,255, 0.7);
  border-radius: 4px;
  color: rgba(148, 155, 160, 0.6);
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 0 24px rgba(0,0,0,0.2);
  margin-top: 24px;
  }

.list-item:hover {
  color: rgba(148, 155, 160, 0.9);
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
}

body {
  font-family: "Open Sans";
  background-color: #EFF1ED;
}
