// Specific CSS for your home-page

html, body {
  scroll-behavior: smooth !important;
}

.container-index {
  // text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

li {
  list-style: none;
}

.list-item {
  text-decoration: none;
  background-color: rgba(255, 255,255, 0.7);
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  box-shadow: 0 0 24px rgba(0,0,0,0.2);
  margin-top: 24px;
  a {
    text-decoration: none;
    color: white;
    font-family: "Martel";
  }
  }

.list-item:hover {
  color: rgba(148, 155, 160, 0.9);
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
}

body {
  font-family: "Libre Franklin";
}

.banner-home {
  height: 100vh;
}

.home-container {
  padding-left: 0px;
  padding-right: 0px;
}

.fullpage {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  background-color: black;
}

.section {
  scroll-snap-align: start;
  height: 100vh;
}

.lists-header {
  padding-top: 80px;
  margin-bottom: 24px;
  color: white;
  font-family: "Martel";
  font-size: 64px;
}
