.movie-list {
  padding-top: 32px;
}

.movie-card {
  overflow: hidden;
  height: 240px;
  width: 800px;
  color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: inline-grid;
  grid-template-columns: 1fr 7fr;
  // align-items: center;
  // margin-top: 32px;
  margin: 16px auto;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  text-align: left;
}

.movie-card img {
  height: 240px;
  object-fit: cover;
}

.movie-image {
  padding-left: 0px;
}

.movie-details {
  // flex-direction: column;
  padding: 16px 32px 16px 16px;
}

.movie-title {
  font-size: 16px;
  font-weight: 600;
}

// .movie-rating {
//   text-align: right;
// }

.delete-bookmark {
  border-radius: 4px;
  border: 1px solid rgba(148, 155, 160, 0.7);
  color: rgba(148, 155, 160, 0.9);
  margin-top: 16px;
  width: 160px;
  text-align: center;
  padding: 4px;
}

.delete-bookmark:hover {
  border: 1px solid rgba(148, 155, 160, 1);
  color: rgba(148, 155, 160, 1);
  // background-color:(148, 155, 160, 0.8);
}

.container {
  text-align: center;
}

.fa-star {
  color: rgba(249, 194, 46, 1);
}

.movie-card li {
  padding-bottom: 12px;
}
