.navbar-icon {
  width: 40px;
  height: auto;
  color: rgba(255, 255, 255, 0.8);
  font-size: 32px;
  margin-left: 20px;
  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.navbar-menu li {
  display: inline-block;
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}

.navbar li:hover {
  color: rgba(255, 255, 255, 1);
}

.navbar-menu {
  margin: auto 28px;
}
