<div class="navbar fixed-top navbar-expand-sm" data-controller="navbar">
  <!-- removed data-action="scroll@window->navbar#updateNavbar" from above div -->
  <div class="navbar-icon">
      <%= link_to lists_path do %>
        <i class="fa-solid fa-clapperboard"></i>
      <% end %>
  </div>

  <ul class="navbar-menu">
    <li><%= link_to "Home", lists_path, class: "page-link" %></li>
    <li><%= link_to "Create new list", new_list_path, class: "page-link" %></li>
  </ul>

</div>



<%#
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <span><i class="fa-solid fa-popcorn"></i></span>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div> %>
